body {
  font-family: "Oxygen";
  font-weight: bold;
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: rgb(26, 25, 25);
  color: white;
  --scrollbarBG: rgb(26, 25, 25);
}

.title {
  color: black;
  font-size: 7em;
  font-family: "Arial";
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: 1;
  background: url(Images/cloudbackground.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding-bottom: 78px;
}

.headclass {
  background-image: url(Images/Vinyl.jpg);
  background-size: cover;
  margin: -10px;
  margin-top: -20px;
}

p {
  font-size: larger;
}

.cart {
  margin-bottom: 300px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #0099ff;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: black;
  font-weight: bold;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(0, 0, 0);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #edededce;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  font-family: "Arial";
  font-size: 20px;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  vertical-align: bottom;
}

.darkbutton {
  top: 0;
  right: 0;
  position: absolute;
  display: inline-block;
}

.list {
  float: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.list a {
  display: flex;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.footer-title {
  font-family: Sigmar One;
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  float: center;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.shop-item-image {
  height: 200px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  cursor: pointer;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: rgb(0, 195, 255);
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.22s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: rgb(0, 195, 255);
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.music-title {
  font-family: "Arial";
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

.cart-header {
  font-weight: bold;
  font-size: 1.2em;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.3em;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  margin-left: 0.5em;
  font-size: 1.3em;
}

.cart-item-image {
  border-radius: 7px;
  width: 100px;
  height: 100px;
}

.cart-remove {
  display: inline-block;
  padding: 0.5em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #e70000;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
  margin: 5px;
}

.cart-remove:active {
  top: 0.1em;
}

@media all and (max-width: 30em) {
  .cart-remove {
    display: block;
    margin: 0.4em auto;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00aeff;
  z-index: 999999;
}

html {
  --scrollbarBG: rgb(0, 0, 0);
  --thumbBG: rgb(0, 153, 255);
}

body::-webkit-scrollbar {
  width: 20px;
}

body {
  scrollbar-width: 20px;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.greeting-class {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  padding: 0px;
}

#time {
  font-size: 20px;
}

#greeting {
  font-size: 10px;
}

*:focus {
  outline: none;
}

.card {
  background-color: whitesmoke;
  height: 450px;
  width: 310px;
  margin: 30px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 20px 10px rgba(0, 153, 255, 0.589);
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.name {
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 183, 255);
  position: absolute;
  letter-spacing: 3px;
  font-weight: 600;
  top: 100px;
}

.prof {
  font-size: 20px;
  position: absolute;
  top: 140px;
  color: rgba(116, 116, 116, 0.925);
  letter-spacing: 2px;
}

.divider {
  background-color: #949594;
  height: 1.5px;
  width: 50px;
  position: absolute;
  top: 190px;
}

.bio {
  position: absolute;
  top: 200px;
  color: darkgrey;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  line-height: 28px;
}

.card-button {
  position: absolute;
  bottom: 30px;
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.card-button:hover {
  color: #ffffff;
  background: #00acfc;
  border-color: black;
  transition: all 0.9s ease 0s;
  border-radius: 50px;
}

.photo1 {
  height: 100%;
  width: 100%;
  background: url(Images/melissa.jpeg);
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
  border-radius: 8px;
  transition: 1s;
}

.photo2 {
  height: 100%;
  width: 100%;
  background: url(Images/billy.jpg);
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
  border-radius: 8px;
  transition: 1s;
}

.photo3 {
  height: 100%;
  width: 100%;
  background: url(Images/beth.jpg);
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
  border-radius: 8px;
  transition: 1s;
}

.photo4 {
  height: 100%;
  width: 100%;
  background: url(Images/jo.jpg);
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
  border-radius: 8px;
  transition: 1s;
}

.photo5 {
  height: 100%;
  width: 100%;
  background: url(Images/alex.jpeg);
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
  border-radius: 8px;
  transition: 1s;
}

.photo6 {
  height: 100%;
  width: 100%;
  background: url(Images/connor.jpeg);
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
  border-radius: 8px;
  transition: 1s;
}

.card:hover .photo1 {
  transform: scale(0.5, 0.35) translateY(-650px);
  background-size: 100% 150%;
  background-position: 0 -25px;
  border-radius: 50%;
}

.card:hover .photo2 {
  transform: scale(0.5, 0.35) translateY(-650px);
  background-size: 100% 150%;
  background-position: 0 -25px;
  border-radius: 50%;
}

.card:hover .photo3 {
  transform: scale(0.5, 0.35) translateY(-650px);
  background-size: 100% 150%;
  background-position: 0 -25px;
  border-radius: 50%;
}

.card:hover .photo4 {
  transform: scale(0.5, 0.35) translateY(-650px);
  background-size: 100% 150%;
  background-position: 0 -25px;
  border-radius: 50%;
}

.card:hover .photo5 {
  transform: scale(0.5, 0.35) translateY(-650px);
  background-size: 100% 150%;
  background-position: 0 -25px;
  border-radius: 50%;
}

.card:hover .photo6 {
  transform: scale(0.5, 0.35) translateY(-650px);
  background-size: 100% 150%;
  background-position: 0 -25px;
  border-radius: 50%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="tel"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
select:focus {
  background-color: #ddd;
  outline: none;
}

select {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.conthead {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
